*
{
    margin: 0;
    padding:  0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.1s;
    background-color: #f2f2f2;
}

#container
{
    min-width: 800px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h2
{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #404040;
}

#new-item
{
    padding: 10px;
    width: 600px;
    font-size: 20px;
    border: none;
    border: solid 2px #b3e6b3;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: white;
}

#new-item:focus
{
    outline: none !important;
    border: solid 2px #d9f2d9;
}

#add-button
{
    padding: 10px;
    margin-left: -6px;
    font-size: 20px;
    color: #8cd98c;
    border: none;
    border: solid 2px #b3e6b3;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#add-button:focus
{
    outline: none !important;
    border: solid 2px #b3e6b3;
}

#add-button:hover
{
    cursor: pointer;
    color: #b3e6b3;
    border: solid 2px #d9f2d9;
}

#add-button:active
{
    background-color: #d9d9d9;
}

#nav
{
    margin-bottom: 40px;
}

#items
{
    margin-bottom: 40px;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
}


.item
{
    min-width: 700px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #404040;
}

.item-name
{
    padding-top: 5px;
}

.icons
{
    height: 50px;
    padding-top: 5px;
}

.fa-check-circle
{
    color: #44ce44;
    font-size: 20px;
    margin: 4px;
}

.fa-check-circle:hover
{
    color: rgb(68, 233, 68);
    cursor: pointer;
}

.fa-check-circle:active
{
    color: #44ce44;
}

.fa-edit
{
    color: #4da6ff;
    font-size: 20px;
    margin: 4px;
}

.fa-edit:hover
{
    color: #22bae8;
    cursor: pointer;
}

.fa-edit:active
{
    color: #4da6ff;
}

.fa-times-circle
{
    color: crimson;
    font-size: 20px;
    margin: 4px;
}

.fa-times-circle:hover
{
    color: rgb(252, 0, 50);
    cursor: pointer;
}

.fa-times-circle:active
{
    color: crimson;
}

#clear-items
{
    padding: 10px;
    margin-left: -6px;
    font-size: 20px;
    color: #8cd98c;
    border: none;
    border: solid 2px #b3e6b3;
    border-radius: 4px;
}

#clear-items:focus
{
    outline: none !important;
    border: solid 2px #b3e6b3;
}

#clear-items:hover
{
    cursor: pointer;
    color: #b3e6b3;
    border: solid 2px #d9f2d9;
}

#clear-items:active
{
    background-color: #d9d9d9;
}